* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0b1124;
}
.new-movies {
  margin: 0.5em;
  letter-spacing: 0.2em;
  color: #efefe3;
  font-family: segoe;
}
.movie {
  padding: 1em;
}
.movie-title {
  font-family: segoe;
  font-weight: semi-bold;
  letter-spacing: 0.1em;
  color: #efefe3;
}
.movie-poster {
  width: 100%;

  box-shadow: 0 4px 8px 0 rgba(16, 108, 145, 0.2), 0 6px 20px 0 white;
  z-index: -6;
  border-radius: 20px;
}
.movie-info {
  list-style-type: none;
  display: flex;
}
.movie-more-info {
  text-decoration: blink;
  color: #efefe3;
  font-size: 1.3em;
}
.movie-show-time {
  flex-direction: row;
  flex-grow: 2;
}
.movie-language {
  font-size: 1.3em;
  flex-grow: 1;
  color: #efefe3;
}

/* Detail View CSS */

.empty-bg {
  background-color: grey;
}
.movie-details {
  /* border: 1px solid red; */
  background-color: whitesmoke;
}
.movie-details-tcontainer {
  /* border: 1px solid navy; */
  padding: 0.25em;
  position: relative;
  color: white;
}
.movie-details-trailer {
  border-radius: 25px;
}

.movie-trailer {
  width: 100%;
  color: white;
  height: 100%;
}

@media (min-width: 1281px) {
  /* //CSS */
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  .movie-details-trailer {
    /* border: 1px solid blue; */
    display: inline-block;
    width: 50vw;
    color: white;
    height: 33vh;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  .movie-details-trailer {
    /* border: 1px solid blue; */
    display: inline-block;
    width: 50vw;
    height: 33vh;
    color: white;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .movie-details-trailer {
    /* border: 1px solid blue; */
    display: inline-block;
    width: 75vw;
    height: 33vh;
    color: white;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .movie-details-trailer {
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100vw;
    height: 33vh;
    color: white;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .movie-details-trailer {
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100vw;
    height: 33vh;
    color: white;
  }
}

@media (min-width: 200px) and (max-width: 319px) {
  .movie-details-trailer {
    /* border: 1px solid blue; */
    display: none;
    width: 100vw;
    height: 33vh;
    color: white;
  }
}

.movie-details-info {
  padding: 0.25em;
  /* border: 1px solid green; */
  display: inline-block;
  top: 0px;
  vertical-align: top;
  color: white;
}

.movie-info-list {
  list-style-type: none;
  color: white;
  /* border: 1px solid rebeccapurple; */
}

.movie-genre {
  text-align: left;
  color: white;
  /* border: 1px solid indianred; */
  left: 0;
}

.movie-duration span {
  color: purple;
}

/* .movie-rating { 
  color: gold;
}*/

.movie-star-rating {
  color: gold;
}

.movie-details-story-container {
  /* border: 1px solid cyan; */
}

.movie-details-story {
  /* border: 1px solid yellow; */
  width: 100%;
  height: 48vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.movie-details-title {
  font-weight: 900;
  line-height: 2em;
}

.movie-details-booking {
  /* border: 1px solid purple; */
  height: 13vh;
  text-align: center;
  padding-top: 1em;
}

.movie-book-btn,
.movie-back-btn {
  border: none;
  background-color: #795ad3;
  color: white;
  text-align: center;
  padding: 0.5em;
  border-radius: 1em;
}

.movie-ticket,
.previous-page {
  padding: 0.25em;
}
